definition_version: 2
entities:
  streamlit_app:
    type: streamlit
    identifier:
      database: SMOOTHIES
      schema: PUBLIC
      name: CUSTOM_SMOOTHIE_ORDER_FORM
    query_warehouse: COMPUTE_WH
    main_file: PendingSmoothieOrders.py
    artifacts:
      - pyproject.toml
      - PendingSmoothieOrders.py
      - .streamlit/config.toml
